doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=none" name="viewport")
    title= title
    link(rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/vendor/Ionicons/css/ionicons.min.css")
    link(rel='stylesheet' href='/css/AdminLTE.min.css')
    link(rel='stylesheet' href='/css/skins/_all-skins.min.css')
  body(class="hold-transition login-page")
   .login-box
    .login-logo
      a(href="#")
        b Koa 
        | login 
    .login-box-body
      form(action="/login" method="post")
        .form-group.has-feedback
          input.form-control(type="text" name="username" placeholder="Email")
          span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          input.form-control(type="password" name="password" placeholder="Password")
          span.glyphicon.glyphicon-lock.form-control-feedback
        .row
          .col-xs-8
            .checkbox
              label
                input(type="checkbox")
                | Remember Me
          .col-xs-4
            button.btn.bg-purple.btn-block.btn-flat(type="submit") Sign In
        //- .row
        //-   .col-xs-6
        //-     a(href="#") Forget Password
        //-   .col-xs-6.text-right
        //-     a(href="#") Register
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js")
    script(src="/vendor/fastclick/lib/fastclick.js")
    script(src="/js/adminlte.min.js")
    //- script(src="/js/demo.js")