doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=none" name="viewport")
    title= title
    link(rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/vendor/Ionicons/css/ionicons.min.css")
    link(rel='stylesheet' href='/css/AdminLTE.min.css')
    link(rel='stylesheet' href='/css/skins/_all-skins.min.css')
  body(class="hold-transition skin-purple-light fixed sidebar-collapse sidebar-mini")
    .wrapper
      header.main-header
        a.logo(href="#")
          span.logo-mini
            b K
            | oa
          span.logo-lg
            b Koa 
            | App
        nav.navbar.navbar-static-top
          a.sidebar-toggle(href="#" data-toggle="push-menu" role="button")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href="#" data-toggle="dropdown")
                  img.user-image(src="/img/user3-128x128.jpg" alt="user image")
                  span.hidden-xs Molly
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src="/img/user3-128x128.jpg", alt="user image")
                    p 
                      | Molly - Frontend Developer
                      small Member since Jan. 201
                  li.user-body
                    .row
                      .col-xs-4.text-center
                        a(href="#") Followers
                      .col-xs-4.text-center
                        a(href="#") Sales
                      .col-xs-4.text-center
                        a(href="#") Friends
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href="/logout") Sign out
      aside.main-sidebar
        section.sidebar
          ul.sidebar-menu(data-widget="tree")
            li.header Main Navigation
            li.treeview
              a(href="#")
                i.fa.fa-dashboard
                span Dashboard
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href="#") Dashboard v1
                li
                  a(href="#") Dashboard v2
            li.treeview
              a(href="#")
                i.fa.fa-share
                span Multilevel
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href="#")
                    i.fa.fa-circle-o
                    | Level One
                li.treeview
                  a(href="#")
                    i.fa.fa-circle-o
                    | Level One
                    span.pull-right-container
                      i.fa.fa-angle-left.pull-right
                  ul.treeview-menu
                    li
                      a(href="#")
                        i.fa.fa-circle-o
                        | Level Two
                    li.treeview
                      a(href="#")
                        i.fa.fa-circle-o
                        | Level Two
                        span.pull-right-container
                          i.fa.fa-angle-left.pull-right
                      ul.treeview-menu
                        li
                          a(href="#")
                            i.fa.fa-circle-o
                            | Level Three
                        li.treeview
                          a(href="#")
                            i.fa.fa-circle-o
                            | Level Three
            li
              a(href="#")
                i.fa.fa-book
                span Documentation
      .content-wrapper
        section.content-header
          h1 Fixed Layout
            small Blank example to the fixed layout
          ol.breadcrumb
            li
              a(href="#")
                i.fa.fa-dashboard
                | Home
            li
              a(href="#") Layout
            li.active Fixed
        section.content
          block content
      //- footer.main-footer
      //-   .pull-right.hidden-xs
      //-     span Version 0.1
      //-   span Copyright &copy; 2018
      //-   | All rights reserved.

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js")
    script(src="/vendor/fastclick/lib/fastclick.js")
    script(src="/js/adminlte.min.js")
    script(src="/js/demo.js")